<?xml version="1.0"?>
<launch>
  <arg name="robot" />
  <arg name="base_frame" />
  <arg name="odom_frame" />
  <arg name="map_frame" default="map" />

  <node pkg="move_base" type="move_base" respawn="true" name="$(arg robot)_move_base" output="screen">
    <rosparam file="$(find robot_gazebo)/params/costmap_common_params.yaml"
              command="load" ns="global_costmap" />
    <rosparam file="$(find robot_gazebo)/params/costmap_common_params.yaml"
              command="load" ns="local_costmap" />
    <rosparam file="$(find robot_gazebo)/params/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_gazebo)/params/local_costmap_params.yaml" command="load" />
    <param name="global_costmap/global_frame" value="$(arg map_frame)" />
    <param name="global_costmap/robot_base_frame" value="$(arg robot)/$(arg base_frame)" />
    <param name="local_costmap/global_frame" value="$(arg robot)/$(arg odom_frame)" />
    <param name="local_costmap/robot_base_frame" value="$(arg robot)/$(arg base_frame)" />

    <!-- Reduce movebase's frequency -->
    <param name="controller_frequency" value=10 />
  
    <!-- Redirect lidar's parameters -->
    <param name="global_costmap/obstacle_layer/base_scan/topic" value="$(arg robot)/laser" />
    <param name="global_costmap/obstacle_layer/base_scan/sensor_frame" value="$(arg robot)/lidar_frame" />
    <param name="local_costmap/obstacle_layer/base_scan/topic" value="$(arg robot)/laser" />
    <param name="local_costmap/obstacle_layer/base_scan/sensor_frame" value="$(arg robot)/lidar_frame" />

    <!-- Remap movebase APIs' topic -->
    <remap from="move_base/cancel" to="$(arg robot)/move_base/cancel" />
    <remap from="move_base/feedback" to="$(arg robot)/move_base/feedback" />
    <remap from="move_base/goal" to="$(arg robot)/move_base/goal" />
    <remap from="move_base/result" to="$(arg robot)/move_base/result" />
    <remap from="move_base/status" to="$(arg robot)/move_base/status" />
    <remap from="move_base_simple/goal" to="$(arg robot)/move_base_simple/goal" />
    <remap from="cmd_vel" to="$(arg robot)/mobile/cmd_vel" />
    <remap from="odom" to="$(arg robot)/mobile/odom" />
  </node>
</launch>