<launch>
  <arg name="id" default="0" />
  <arg name="x_pos" default="1.5" />
  <arg name="y_pos" default="-1.5" />
  <arg name="z_pos" default="0.0" />

  <param name="robot_description" command="$(find xacro)/xacro $(find robot_description)/urdf/simple-omni-robot.xacro" />
  <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model robot$(arg id)
              -x $(arg x_pos)
              -y $(arg y_pos)
              -z $(arg z_pos)
              -param robot_description"
        output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

</launch>